html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans";

	background-color: #000;
	color: #fff;

	margin: 0;
	padding: 0;

	font-family: Helvetica, sans-serif;
}

.mainContainer {
	margin-top: 70px;
}

.frag {
	position: relative;
	vertical-align: top;
	clear: both;
}
.frag .context {
	display: block;
	color: #888;
}
.frag.correct .context {
	display: block;
	color: #fff;
	text-shadow: 0 0 15px #ffa;
}
span[data-l] {
	color: rgb(0,0,0);
	font-weight: bold;
	border-bottom: 1px solid #555;
}

.translation {
	color: #333;
	font-size: 28px;
	max-width: 23%;

	position: absolute;
	top: 0;
	right: 2%;
}

.inputContainer {
	position: fixed;

	box-sizing: border-box;

	left: 50%;
	bottom: 10px;

	margin: 0 auto;
	padding: 10px;

	width: 300px;
	margin-left: -150px;

	background-color: #242;
	border-radius: 10px;
	border: 1px solid #474;

	color: #9a9;

	display: none;
}
.inputContainer input[type="text"] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	background-color: #111;
	color: #eee;
	border: 1px solid #444;
	border-radius: 4px;

	font-size: 18px;
	text-align: center;
}
.inputContainer p {
	text-align: center;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 20px;
}

.wholeScreenOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #a00;

	display: none;
}

.info {
	position: fixed;
	font-size: 24px;
	top: 10px;
	left: 10px;

	display: none;
}
.info .countdown {
	color: #666;
}

.menuScreen {
	position: fixed;

	box-sizing: border-box;

	top: 50%;
	left: 50%;

	width: 400px;
	height: 300px;

	margin-left: -200px;
	margin-top: -200px;

	background-color: #242;
	color: #fff;

	padding: 20px;
	border-radius: 10px;

	z-index: 10;

	text-align: center;
}

.start {
	display: none;
}

.gameOverScreen {
	display: none;
}

.menuScreen button {
	border: 2px solid #aaa;

	border-radius: 4px;

	background-color: transparent;
	color: #fff;

	padding: 10px;
	font-size: 20px;

	cursor: pointer;
}
.menuScreen button:hover {
	background-color: #121;
	color: #fff;
}
